.box {
    width: 100vw;
    height: 60px;
    background-color: blue;
    position: fixed;
    top: 0;left: 0;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.boxul2 {
    position: relative;
    right: 40px;
}
.boxul1 {
}
.boxli {
    list-style: none;
    color: white;
    display: inline-block;
    margin :0 10px; 
}
.dang {
    color: white;
}
.nen {
    width: 100vw;
    height: 100vh;
    background-image: url(https://imgt.taimienphi.vn/cf/Images/np/2021/10/8/link-tai-hinh-nen-zoom-dep-cute-mien-phi-4.jpg);
    position: fixed;
    left: 0;
}
.trangchu {
    height: 5000px;
}
.chu {
    color: black;
    margin-top: 80px;
    font-size: 40px;
    /* position: relative; */
    margin-left: 730px;
}
.end {
    width: 100vw;
    height: 60px;
    background-color: blue;
    position: fixed;
    bottom: 0;left: 0;
}
.lien {
    font-size: 18px;
    margin: 0px 10px;
    display: inline;
}
.lienhe{
    color: white;
}