.box {
    width: 100vw;
    min-height: 60px;
    background-color: blue;
    position: fixed;
    top: 0;left: 0;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.boxul2 {
    position: relative;
    right: 40px;
}
.boxli {
    list-style: none;
    color: white;
    display: inline-block;
    margin :0 10px; 
}
ul {
    1000px;
}
.dang {
    color: white;
}
.chu {
    color: black;
    margin-top: 80px;
    font-size: 40px;
    position: relative;
    left: 730px;
}

